.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  flex: 1;
  height: 100%;
  width: 100%;
  padding: var(--space-xl);
}

.title {
  font-size: var(--text-xl);
  text-align: center;
  font-weight: 500;
  color: var(--text-primary);
  margin: 0;
}

.instruction {
  font-size: var(--text-md);
  text-align: center;
  color: var(--text-secondary);
  margin-top: var(--space-xs);
}
