.noteCard {
  padding: var(--space-md);
  border-radius: var(--radius-md);
  background-color: var(--color-surface);
  min-height: 180px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.title {
  font-size: var(--text-lg);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
  font-size: var(--text-md);
  white-space: pre-wrap;
  margin: 0;
  overflow: hidden;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow-wrap: break-word;
  word-break: break-word;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: var(--text-sm);
  line-height: 1;
  color: var(--text-secondary);
}
