.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  min-height: 0;
}

.header {
  padding-left: var(--space-md);
  padding-bottom: var(--space-md);
  color: var(--color-primary);
  margin: 0;
}

@media (min-width: 600px) {
  .header {
    padding: var(--space-md);
  }
}

.notesWrapper {
  overflow-y: auto;
}
