@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  background-color: #fefae0;
}

/* #root {
  display: flex;
  justify-content: center;
} */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar-thumb {
  background-color: #757575;
}
