@import "tailwindcss";
/* @config "../tailwind.config.ts"; */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
  color: var(--text-primary);
}

/* #root {
  display: flex;
  justify-content: center;
} */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar-thumb {
  background-color: #757575;
}

:root {
  --color-background: #f8f7fa;
  --color-surface: #ffffff;
  --color-secondary: #f0edf5;

  --color-primary: #7b5fd6;
  --color-accent: #947fd9;

  --text-primary: #1e1c22;
  --text-secondary: #5f5b6b;

  --color-outline: #7b5fd6;
  --color-border: #d2cfe0;
  --color-border-hover: #bfb8d1;

  --color-hover: rgba(123, 95, 214, 0.1);
  --color-active: rgba(123, 95, 214, 0.2);
  --color-focus: rgba(123, 95, 214, 0.3);

  --button-primary: #2e9b5f;
  --button-secondary: #e65050;
}

.dark {
  --color-background: #131214;
  --color-surface: #1e1d20;
  --color-secondary: #2a2731;

  --color-primary: #b5a1e2;
  --color-accent: #a38dde;

  --text-primary: #eae6f2;
  --text-secondary: #a29ead;

  --color-outline: #b5a1e2;
  --color-border: #3b3843;
  --color-border-hover: #4a4656;

  --color-hover: rgba(181, 161, 226, 0.1);
  --color-active: rgba(181, 161, 226, 0.2);
  --color-focus: rgba(181, 161, 226, 0.3);

  --button-primary: #45c478;
  --button-secondary: #ff6b6b;
}
