@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
  color: var(--text-primary);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

:root {
  --color-background: #eeeeee;
  --color-surface: #fdfdff;
  --color-secondary: #f0edf5;

  --color-primary: var(--color-primary-purple);
  --color-accent: #947fd9;

  --text-primary: #1e1c22;
  --text-secondary: #5f5b6b;

  --color-outline: #7b5fd6;
  --color-border: #d2cfe0;
  --color-border-hover: color-mix(in srgb, var(--color-primary) 50%, transparent);

  --color-hover: rgba(123, 95, 214, 0.1);
  --color-active: rgba(123, 95, 214, 0.2);
  --color-focus: rgba(123, 95, 214, 0.3);

  --color-primary-green: #49a078;
  --color-primary-purple: #b5a1e2;
  --color-primary-blue: #0f9fe1;
  --color-primary-red: #d90368;
  --color-primary-yellow: #ffbd00;
  --color-primary-orange: #f75c03;
}

.dark {
  --color-background: #131214;
  --color-surface: #1e1d20;
  --color-secondary: #393e41;

  --color-primary: var(--color-primary-purple);
  --color-accent: #a38dde;

  --text-primary: #eae6f2;
  --text-secondary: #a29ead;

  --color-outline: #b5a1e2;
  --color-border: #3b3843;
  --color-border-hover: color-mix(in srgb, var(--color-primary) 50%, transparent);

  --color-hover: rgba(181, 161, 226, 0.1);
  --color-active: rgba(181, 161, 226, 0.2);
  --color-focus: rgba(181, 161, 226, 0.3);

  --color-primary-green: #49a078;
  --color-primary-purple: #b5a1e2;
  --color-primary-blue: #0f9fe1;
  --color-primary-red: #d90368;
  --color-primary-yellow: #ffbd00;
  --color-primary-orange: #f75c03;
}
